<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirect | Spamty.eu</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <meta http-equiv="refresh" content="0; url={{ content }}" />
  <meta name="robots" content="noindex,nofollow">
</head>

  <body>
  <div class="container"><!-- .container -->

    {% include header.html %}

	<div>
		<a href="{{ content }}">Please click here to get to the website</a>
	</div>

    {% include footer.html %}

  </div><!-- /container -->

  </body>
</html>
